[Unit]
Description=Hass.io supervisor
Requires=docker.service
After=docker.service dbus.socket

[Service]
User={{ hassio_user }}
Group={{ hassio_group }}
Type=simple
Restart=always
RestartSec=5s
ExecStartPre=-{{ docker_bin }} stop hassio_supervisor
ExecStart={{ hassio_bin }}
ExecStop=-{{ docker_bin }} stop hassio_supervisor

[Install]
WantedBy=multi-user.target
